/* Estilos generales para la página */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9e2a7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.heart {
    font-size: 2.5em; /* Tamaño del corazón */
    color: #ff0099; /* Rosa oscuro vintage */
    margin-top: 10px;
    font-family: 'Georgia', serif; /* Estilo clásico */
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombras suaves */
    animation: flicker 2s infinite; /* Animación de parpadeo sutil */
}

/* Animación romántica de "parpadeo" */
@keyframes flicker {
    0%, 100% {
        opacity: 0.9;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
}

/* Estilos para el carrusel */
.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 20px;
    width: 90%;
    box-sizing: border-box;
}

/* Ocultar scrollbar del carrusel */
.carousel::-webkit-scrollbar {
    display: none;
}

/* Estilos para las cartas */
.card {
    flex: 0 0 auto;
    width: 250px;
    height: 350px;
    background: #fff; /* Color de fondo sólido */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Asegura que el texto esté centrado horizontalmente */
    font-size: 1.3em;
    font-weight: bold;
    padding: 15px;
    color: #555;
    scroll-snap-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    box-shadow: none; /* Elimina la sombra */
}

/* Efecto hover en las cartas */
.card:hover {
    transform: scale(1.05);
}

/* Colores sólidos personalizados para cada carta */
.card:nth-child(1) {
    background-color: #D4AF37; /* Amarillo dorado */
    color: #2b2b2b;
}
.card:nth-child(2) {
    background-color: #F4D03F; /* Amarillo claro */
    color: #2b2b2b;
}
.card:nth-child(3) {
    background-color: #D5B89A; /* Beige cálido */
    color: #3b3b3b;
}
.card:nth-child(4) {
    background-color: #924e2d; /* Marrón oscuro */
    color: #f9f9f9; /* Texto claro */
}

/* Estilo para la cuenta regresiva */
#cuenta-regresiva {
    font-size: 1.5em;
    color: #333;
    margin-top: 20px;
}

/* Estilos para las notificaciones */
#mensaje-notificacion {
    font-size: 1.2em;
    color: #ff0000; /* Color de texto para la notificación */
    margin-top: 20px;
}
